<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563977004560-a0cfdr20k2hihbdrbl1dccff9d8irbil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563977004560-a0cfdr20k2hihbdrbl1dccff9d8irbil</string>
	<key>API_KEY</key>
	<string>AIzaSyC25wPbUe3n2g6wcBNnRTIU31mqVj4UD28</string>
	<key>GCM_SENDER_ID</key>
	<string>563977004560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.class1</string>
	<key>PROJECT_ID</key>
	<string>fir-classes-3a31b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-classes-3a31b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563977004560:ios:7f4e4c1f1ebded403dcc95</string>
</dict>
</plist>